!!!
%html{html_attrs}
  %head
    %meta{:'http-equiv' => "Content-Type", :content => "text/html; charset=utf-8"}
    %meta{:name => "lang", :content => "es"}

    %title= page_title(@question)

    / FAVICON
    %link{:href => "/images/favicon.png", :rel => "icon", :type => "image/png"}
    %link{:href => "/favicon.ico", :rel => "shortcut icon"}
    / TYPOGRAPHY
    %link{:href=>'http://fonts.googleapis.com/css?family=Cabin:bold', :media => "screen", :rel => 'stylesheet', :type => "text/css"}
    %link{href: 'http://fonts.googleapis.com/css?family=PT+Sans', rel: 'stylesheet', type: 'text/css'}
    / STYLES
    %link{:href=>'/stylesheets/bootstrap.css', :media => "screen", :rel => 'stylesheet', :type => "text/css"}
    %link{:href=>'/stylesheets/application.css', :media => "screen", :rel => 'stylesheet', :type => "text/css"}
    / %link{:href=>'/stylesheets/spacelab.css', :media => "screen", :rel => 'stylesheet', :type => "text/css"}
    %link{:href=>'/stylesheets/ombushop.css', :media => "screen", :rel => 'stylesheet', :type => "text/css"}    
    %link{:rel=> "stylesheet", :type => "text/css", :media => "screen", 
            :href => "/stylesheets/bootstrap-wysihtml5.css"}
    / SCRIPTS
    %script{:type => "text/javascript", :src => "http://code.jquery.com/jquery-1.8.2.min.js"}
    %script{:type => "text/javascript", :src => "/javascripts/lib/modernizr-1.6.min.js"}
    %script{:type => "text/javascript", :src => "/javascripts/application.js"}
    %script{:type => "text/javascript", :src => "/javascripts/wysihtml5-0.3.0.min.js"}
    %script{:type => "text/javascript", :src => "/javascripts/bootstrap-wysihtml5.js"}

  %body
    = partial :_nav_main

    .container
      = partial :_notices
      = yield
    = partial :_analytics
    %footer.footer
      / .navbar.navbar-fixed-bottom
      /   .navbar-inner
      .container
        Copyright 2012, 
        %a{href: "http://www.ombushop.com", title: "Tu Tienda Online"}
          OmbuShop.com
        \|
        %a{href: "http://www.ombushop.com", title: "Tu Tienda Online"}
          Crea Tu Tienda Virtual Hoy
        \| Lovingly crafted by 
        %a{href: "http://www.ombushop.com/quienes-somos", title: "Team OmbuShop"}
          these guys