.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %ul.nav
        %li{class: 'logo-container'}
          %a.brand{:href => u("/"), title: 'OmbuShop. Preguntas y Respuestas.'}
            %img{src: u('images/ombushop-tutiendaonline-logo.png'), alt: 'OmbuShop, Tu Tienda Online'}
        %li{class: 'nav-item'}
          %a.link{href: u('tags')}= t(:'tags.title')
        %li{class: 'nav-item'}
          %a.link{href: u('preguntas')}= t(:'questions.title')
        %li{class: 'nav-item'}
          %a.link{href: u('about')}= t(:'about.title')
        - if can? 
          %li{class: 'nav-item'}
            %a.link{href: u('questions/new')}= t(:'questions.ask')
          %li{class: 'nav-item'}
            %a.link{href: u('tags/new')}= t(:'tags.add')
      %form#search{class: "navbar-search pull-right form-search", action: u("preguntas/search")}
        %input#text{name: 'q', placeholder: t(:search_placeholder), class: "search-query input-medium", value: @query}
        %button{style: 'display:none'}= t(:search)

